//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^siedliskosoce.pl[nc]
RewriteRule ^(.*)$ http://www.siedliskosoce.pl/$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(jpg|css|png|svg)$">
Header set Cache-Control "private, max-age=2678400"
</FilesMatch>

//Change default directory page
DirectoryIndex index.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
 