@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');


$base-color:#A5D7FD;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', serif;
    scroll-behavior: smooth;    
}


.hero{
    height: 100vh;
    position: relative;
    max-width: 100vw;
    background-image: url(./images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 70%;
    background-attachment: fixed ;

    .hero_text{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        float: left;
        color: white;
        padding-top: 25%;
        padding-left: 8%;
        z-index: -2;
        

        h1{
            font-size: 2.5em;           
        }

        button{
            width: 12em;
            height: 2.5em;
            border: 2px solid white;
            border-radius: 2px;
            color: white;
            font-size: 1.1em;            
            background: none;
            -webkit-transition: all ease 0.8s;
            -moz-transition: all ease 0.8s;
            transition: all ease 0.8s;
            
            &:hover{
                box-shadow: inset 12em 0 0 0 #ffffff;
                color: $base-color; 
            }
        }
    }
}

header{
    display: flex;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 16vh;    
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid white;
    padding: .7em 3em;
    margin: 0 auto ;
    z-index: 10;
                
    .logo{
        width: 80px;
        height: 80px;
        padding: 2px 0;

        img{
            width: 80px;
            height: 80px;
            object-fit: cover;
        }  
    }        

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0; 
        display: flex;
         
        
        li{
            margin: 0 1em;
            
            a{
                text-decoration: none;
                color: white;
                font-size: 1em;
                position: relative;   
                                
                &:hover{
                    width: 100%;
                    opacity: 1;
                    color: $base-color;                                        
                }               
                
            }    
        }
    } 
}

.text_right, .text_left{
    display: grid;    
    grid-template-columns: 50% 50%;
    position: relative;    
    min-height: 60vh;
    margin: 3em 0 3em 0;
    
    
    .img-container{        
        height: 650px;
        width: 100%;        
        margin-top: 50px;
        z-index: -2;                       

        img{       
            width: 100%;
            height: 100%;           
            object-fit: cover;                         
        }
    }
}

.text_left{
    margin-left: 15px;

    h1{
        font-size: 6em;
        color: $base-color;        
        float: right;
        text-align: right;
        margin-right: -50px;
        margin-top: 50px;
                
    }

    p{
        width: 80%;
        float: right;
        text-align: justify;
        margin-top: -55px;
        font-size:1em;
        font-weight: normal;
        padding-right: 70px;
        z-index: 0;

        &:nth-of-type(2){
            margin-top: 15px;
        }
    }   
}

.text_right{
    padding-right: 15px;

    h1{
        font-size: 6em;
        color: $base-color;        
        z-index: -1;
        float: left;
        margin-top: 50px;
        margin-left: -50px;               
    }

    p{
        width: 90%;
        float: left;
        font-size:1em;
        font-weight: normal;
        text-align: justify;
        padding-left: 70px;
        margin-top: -55px;

        &:nth-of-type(2){
            margin-top: 15px;
        }
    }   
}

.img-100vw{
    width: 100%;
    height: 450px;
    background-attachment: fixed;
    background-image: url(./images/full-width.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;    
}

.oferta{
    display: flex;
    flex-direction: column;
    margin: 40px 15px;
              
    h1{  
        display: block;                
        font-size: 6em;
        color: $base-color;        
        z-index: -1;
        margin-left: 1em;
                                     
    }    
}

.offer-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3em auto;

    .offer-container{
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
        width: 100%;
        margin: 25px auto;

        h2{
            font-size: 1.2em;
            text-align: center;
            margin-right: 70px;            
        }

        table{
            width: 100%;
            height: 200px;
            border-collapse: collapse;

            td, th {
                text-align: center;
            }
            
            th{
                border: 1px solid black;
                &:nth-of-type(1){
                    border:none;
                }
                &:nth-of-type(2){
                    border-top: none;
                }
                &:nth-of-type(3){
                   border-top: none;
                   border-right: none;
                }
            }

            td{
                border-right: 1px solid black;
                border-top: 1px solid black;
                &:last-of-type{
                    border-right: none;
                }
                
            }
            
        }
    }

    p{
        width: 95%;
        margin:10px auto;
        font-size: 1em;
        
    }    
}

.galeria{
    display: block;
    margin: 5px auto;
    width: 100%;
      
    
    .gallery-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2px;
        justify-items: center;
        align-items: center;        
    }

    img{
        width: 250px;
        height: 250px;
        margin: 20px;
        object-fit: cover;    
    }
}

.rezerwacja{
    width: 100%;
    height: 230px;
    background-color: $base-color;
    margin: 30px auto;
    padding: 10px ;
       
    .rezerwacja-wrapper{
        width: 90%;
        margin:0px auto;
        display: flex;
        flex-direction: row-reverse;
        padding: 25px 0;
        justify-content: space-between;
        align-items: center;        
        
        h1{
            font-size: 6em;
            color:white;
        }

        a{
            color:white;
            text-decoration: none;
            font-size: 1.1em;
            transition: all 1s ease-out;

            &:hover{
                color: black;                
            }
        }
    }
}

.kontakt{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 80%;
    column-gap: 50px;
    margin: 50px auto;

    .text-wrapper{
        width: 80%;

        h1{
        display: block;                
        font-size: 6em;
        color: $base-color;        
        text-align: center;     
            
        }

        p{
        width: 95%;
        margin:10px auto;
        font-size: 1.1em;
        text-align: center;
        padding: 5px 30px;
        }
    }

    .map{
        width: 100%;
                
        iframe{
            width: 650px;
            height: 375px;
        }
    }
}

footer{
    width: 100%;
    background-color: $base-color;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    a{
        text-decoration: none;
        color: white;
    }
}

//responsive//

@media screen and (min-width:1281px ){

}


@media screen and (max-width: 864px){
    
   
    .hero{
        width: 100vw;
        position: relative;
        background-position: 55% 0px;
        z-index: 5;
       
        .hero_text{
            position: absolute;
            top: 70%;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            float: none;

            h1{
                font-size: 2.3em;           
            }

            button{
                width: 10em;
                height: 2.2em;
            }
        }
    }

    header{
        position: fixed;
        top: 0%;
        left:0; 
        width: 100%;
        height: 11vh;
        margin: 5px auto;
        padding: 0 5px;
        
            
        
        .logo{
            width: 80px;
            width: 80px;
        }

        ul{
            position: absolute;
            top: 11vh;
            right: 0;
            height: 40vh;
            width: 55vw;
            background-color: $base-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateX(100%);
            transition: transform .5s ease-in;
            
            li{
                margin: 15px 0;
                opacity: 0;
            }

            &.nav-active{
                transform: translateX(0)

            }
        }
       
        .burger{
            padding-right: 2em;
            cursor: pointer;

            div{
                width: 25px;
                height: 3px;
                background-color: white;
                margin: 5px;
                transition: all .3s ease;
            }
        }
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

    @keyframes navLinksFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    

    .text_right, .text_left{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 1em auto;
        min-height: 0;
        padding: 0;

        .img-container{        
            height: 325px;
            width: 100%;        
            margin-top: 10px;
                     
            img{                     
                width: 100%;
                height: 100%;           
                object-fit: cover;                         
            }
        }
    }

    .text_left{
        margin-left: 0;

        h1{
            font-size: 3.3em;
            text-align: center;
            width: 100%;
            margin: 5px auto;
            padding: 5px 10px;

        }

        p{
            width: 100%;
            margin: 5px auto;
            padding: 10px;

            &:nth-of-type(2){
                margin-top: 10px;
            }
        }
    }

    .text_right{
        padding-right: 0px;
        display: flex;
        flex-direction: column-reverse;

        h1{
            font-size: 3.3em;
            text-align: center;
            width: 100%;
            margin: 5px auto;
            padding: 5px 10px;

        }

        p{
            width: 100%;
            margin: 5px auto;
            padding: 10px;

            &:nth-of-type(2){
                margin-top: 10px;
            }
        }
    }

    .img-100vw{
        width: 100vw;
        height: 275px;
    }

    .oferta{
        margin: 20px 5px;

        h1{
            font-size: 3.3em;
            text-align: center;
            width: 100%;
            margin: 5px auto;
            padding: 5px 10px;
        }
    }

    .offer-wrapper{
        width: 100%;
        margin: 5px auto;

        .offer-container{
            display: flex;
            flex-direction: column;
            margin: 10px 5px;

            h2{
                width: 100%;
                margin: 30px auto;
            }

            table{
                height: 250px;
                margin: 0px;
            }            

        }

        p{
            width: 100%;
            margin: 15px auto;
            padding: 15px;
        }
    }

    .galeria{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5px auto;

        .gallery-wrapper{
            
            grid-template-columns: repeat(2, 1fr);
            column-gap: 0px;
        }

        img{
            width: 170px;
            height: 170px;
            margin: 5px;
        }
    }

    .rezerwacja{
        height: 275px;
        width: 100%;
        margin: 10px auto;

        .rezerwacja-wrapper{           
            flex-direction: column;
            justify-items: center;
            align-content: center;
            
            h1{
                font-size: 3.3em;
                
                margin: 5px auto;
                padding: 5px 10px;
            }

            a{
                margin-top: 40px;
            }
        }        
    }
    
    .kontakt{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 20px auto;

        .text-wrapper{

            width: 100%;

            h1{
                font-size: 3.3em;
                margin: 5px auto;
            }
        }

        .map iframe{
            width: 100%;
            height: 350px;
            margin: 20px auto;
            padding: 0;
        }
    }
}